@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}


body {
  margin: 0;
  /* Eliminates default margin on body */
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  /* Use Flexbox for better alignment and responsiveness */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Add some padding to the top and bottom */
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Use min-height instead of height to prevent content from overflowing */
  min-height: 10vh;
  width: 100%;
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-height: 75vh;
  max-height: 85vh;
  border: 4px solid #333;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: antiquewhite;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-height: 10vh;
  /* Center the text both vertically and horizontally in the footer */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5dvw;
}

.opcoes {
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#divAcertos {
  flex-basis: 20%;
  /* added border to the divErros element */
  border: 1px solid #ccc;
  background-color: rgb(81, 189, 81);
  color: white;
  font-size: 3lvw;
}

#divErros {
  flex-basis: 20%;
  /* added border to the divErros element */
  border: 1px solid #ccc;
  background-color: rgb(189, 79, 79);
  color: white;
  font-size: 3lvw;
}

#divCronometro {
  flex-basis: 50%;
  /* added border to the divErros element */
  border: 1px solid #ccc;
  /* added some padding for better readability */
  padding: 1rem;
}

.inputsAcertosErros {
  font-size: 3vw;
  background-color: transparent;
  border-style: none;
  color: white;
}

#labelCronometro {
  font-size: 5vw;
  font-style: oblique;
  text-align: center;
  background-color: rgb(51, 51, 199);
  color: white;
}

.divFatores {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
}

#inputOperador {
  flex-basis: 20%;
  background-color: transparent;
  border: none;
}

.inputFatores {
  flex-basis: 40%;
}

.inputs {
  font-size: 6vw;
  color: blue;
}

#divResultado {
  display: flex;
  justify-content: space-between;
  min-height: 20vh;
  align-items: center;
}

#inputResultado {
  flex-basis: 50%;
  height: 10vh;
  margin-top: 5vh;
  border-style: double;
}

.divBotoes {
  flex-basis: 20%;
}

.btnIniciarJogo {
  color: green;
  min-width: 10vh;
  min-height: 10vh;
  margin-top: 5vh;
  margin-left: 1vh;
}

.btnPararJogo {
  color: rgb(184, 51, 51);
  min-width: 10vh;
  min-height: 10vh;
  margin-top: 5vh;
  margin-left: 1vh;
}

#btnConfiguracoes {
  min-width: 5vh;
  max-width: 5vh;
  max-height: 5vh;
  min-height: 5vh;
  background-image: url("../imagens/engrenagem.ico");
  background-size: 5vh;
  margin-right: 1vh;
  margin-top: 5vh;
}

#btn-responder {
  background-color: rgb(51, 51, 199);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 2vw;
  text-align: center;
}

#btn-responder:hover {
  background-color: darkblue;
}