/* Chamada para fonte customizada*/
@font-face {
  font-family: KGEverSinceNewYork;
  src: url("../fonts/KGEverSinceNewYork.ttf");
}

header {
  text-align: center;
  width: 80vw;
  margin: auto;
}

main {
  background-color: rgb(106, 211, 243);
  width: 80vw;
  height: 60vh;
  margin: auto;
  border-radius: 20px;
}

.footer {
  width: 80vw;
  height: 10vh;
  margin: auto;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vw;
}

.tituloPrincipal {
  font-family: KGEverSinceNewYork;
  font-size: 3vw;
  color: blue;
}

div {
  align-items: center;
  justify-content: center;
}

#divPainelEsquerdo {
  width: 30vw;
  height: 60vh;
  float: left;
}

#divPainelDireito {
  width: 50vw;
  height: 60vh;
  float: right;
}

#divAcertosErros {
  width: 30vw;
  height: 30vh;
}

#divAcertos {
  width: 20vw;
  height: 7vh;
}

#divErros {
  width: 20vw;
  height: 7vh;
}

#divCronometro {
  width: 20vw;
  height: 10vh;
  margin: auto;
}

#divRodadas {
  width: 20vw;
  height: 30vh;
}

#divFatores {
  width: 50vw;
  height: 30vh;
  margin: auto;
  align-items: center;
}

#divResultado {
  width: 50vw;
  height: 20vh;
}

#divAcoes {
  height: 10vh;
}

.btnAcoes {
  width: 15vw;
  height: 8vh;
  font-family: KGEverSinceNewYork;
  font-style: oblique;
  font-size: 2vw;
  margin-top: 1vh;
  margin-left: 20vw;
  border-radius: 10px;
}

.btnIniciarJogo {
  color: green;
}

.btnPararJogo {
  color: blue;
}

#btnConfiguracoes {
  border-radius: 10px;
  margin-top: 2vh;
  margin-right: 2vw;
  width: 5vh;
  height: 5vh;
  float: right;
  background-image: url("../imagens/engrenagem.ico");
  background-size: 5vh;
}

#inputOperador {
  border-radius: 10px;
  text-align: center;
  border: none;
  width: 5vw;
  height: 10vh;
  background-color: transparent;
}

#inputResultado {
  border-radius: 10px;
  height: 10vh;
  width: 30vw;
  margin-left: 10vw;
  margin-top: 5vh;
  border-style: double;
}

.inputFatores {
  border-radius: 10px;
  margin-top: 10vh;
  margin-left: 2vw;
  height: 10vh;
  width: 17vw;
  border-style: double;
}

#inputErros {
  color: red;
  margin-top: 0.5vh;
}

#inputAcertos {
  margin-top: 0.5vh;
  color: blue;
}

.inputs {
  font-family: KGEverSinceNewYork;
  font-size: 5vw;
  font-style: oblique;
  text-align: center;
  color: blue;
}

.inputsAcertosErros {
  font-size: 2vw;
  text-align: center;
  width: 7vw;
  float: right;
  background-color: transparent;
  border-style: none;
}

#labelCronometro {
  font-family: KGEverSinceNewYork;
  font-size: 3vw;
  font-style: oblique;
  text-align: center;
  background-color: blue;
  color: white;
  margin-left: 3vw;
  border-radius: 10px;
}

#labelErros {
  color: red;
  font-size: 2vw;
  margin-left: 5vw;
}

#labelAcertos {
  margin-left: 4vw;
  font-size: 2vw;
  color: blue;
}

.fieldRodadas {
  font-family: KGEverSinceNewYork;
  color: black;
  font-style: oblique;
  background-color: lightskyblue;
  margin: auto;
  width: 16vw;
  margin-left: 1vw;
  height: 25vh;
  font-size: 2.5vh;
  text-align: center;
}
