.ranking-container {
  margin: 10px;
  border-bottom: 1px solid #000;
}

.ranking-table {
  width: 100%;
  border-collapse: collapse;
  font-size: small;
}
.ranking-table-header {
  position: sticky;
  top: 0;
  margin-top: 0;
  z-index: 1; /* Garante que o cabeçalho fique por cima do conteúdo */
}
.ranking-table th {
  background-color: #f2f2f2;
}

.ranking-table th,
.ranking-table td {
  padding: 5px;
  text-align: left;
  border: 1px solid #ddd;
}

.ranking-table th:nth-child(2), /* Selecionando a coluna "Nome" */
.ranking-table td:nth-child(2) {
  width: 70%; /* A coluna "Nome" ocupa 50% da largura da tabela */
}

.ranking-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.ranking-table-wrapper {
  overflow-y: auto; /* Adiciona scroll vertical */
  height: 300px; /* Define a altura do container */
}

/* Responsividade */
@media (max-width: 768px) {
  .ranking-table th,
  .ranking-table td {
    font-size: 14px;
  }
}
