.sala-form-container {
  width: 90%; /* Largura responsiva */
  max-width: 600px; /* Largura máxima */
  margin: 20px auto; /* Centraliza horizontalmente */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
  /* Estilizando input date */
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.error-message {
  color: red;
  font-size: 12px;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

button {
  padding: 1em 1.25em;
  border: none;
  border-radius: 0.2em;
  background-color: #1f87ff;
  color: #ffffff;
}

/* Responsividade - exemplo */
@media (max-width: 500px) {
  .sala-form-container {
    width: 100%; /* Ocupa toda a largura em telas menores */
    padding: 10px; /* Reduz o padding */
  }
}
